<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastUsedEncryption</key>
	<integer>0</integer>
	<key>LastUsedEncryptionType</key>
	<integer>0</integer>
	<key>LastUsedField</key>
	<integer>0</integer>
	<key>AvailableEncryptionsToUser</key>
	<dict>
		<key>MorseCode</key>
		<true/>
		<key>PigPen</key>
		<true/>
		<key>Binary</key>
		<true/>
		<key>Octal</key>
		<true/>
		<key>Hexadecimal</key>
		<true/>
		<key>ROT13</key>
		<true/>
		<key>Caesar</key>
		<false/>
		<key>XOR</key>
		<false/>
		<key>Keyword</key>
		<false/>
		<key>RailFence</key>
		<false/>
		<key>Columnar</key>
		<false/>
		<key>Vigenere</key>
		<false/>
	</dict>
</dict>
</plist>
